
{% extends "myapp/base.html" %}

{% block head %}
<title>Contsct us</title>

<style>
#contactus{
    
    color:rgb(224, 221, 221);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color:rgb(181, 224, 24);
  }
</style>


{% endblock %}
{% block content %}

<br>
<br>
<div class="container_2BkUK">
  <div class="container" style="background-color: rgb(7, 80, 49); width:100%;padding:1cm;margin-top:2cm">
  <header class="container_1vhpE">
    <div class="container"><a href="/" class="nuxt-link-active logo_1Zlqi" style="color: rgb(181, 224, 24);font-weight: 900; font-size:30px">LocateHeavens</a>
         <button type="button" class="btn btnHamburger_2i064"><span></span>
        <span></span> <span></span></button>
      <!---->
    </div>
  </header>
  <div class="container_1n8qm">
    <div class="container" style="color: white;padding-top:2cm">
      <h1 class="mb-1">Contact Us</h1>
    </div>
  </div>
  </div>
  <div class="container font-size-sm py-6">
    <div class="card" style="padding: 2cm;">
    <div class="col-md-4" >
      <div class="box_style_1">
          
          <h5>
            <i class="fa fa-map-marker" aria-hidden="true"></i>

              Address
          </h5>
          <p>
              Nimble Informatics Pvt. Ltd.<br />
              2nd Floor, Jandev's Tulsi Complex, Near Hari Mandir, Rajgarh Road<br />
              adajan,Gujrat, India - 395009
          </p>
          <h5 style="padding-top:1cm">
            <i class="fa fa-phone" aria-hidden="true"></i>

              Phone
          </h5>
          <p>
              <i class="fa fa-phone" aria-hidden="true"></i>

              <a href="tel:+9123456789">+91-123456789</a> / <a href="tel:+919999999999">+91-9999999999</a>
          </p>
          <h5 style="padding-top:1cm">
            <i class="fa fa-envelope" aria-hidden="true"></i>

              Email
          </h5>
          <p>
              <a href="locateHeavens@gmail.com">locateHeavens@gmail.com</a>
          </p>
      </div>
  </div>
  </div>
  </div>
  
  <!---->
</div>
{% endblock %}