
{% extends "myapp/base.html" %}

{% block head %}

{% block style %}
{% endblock%}

{% endblock %}
{% block content %}
<br><br>
<br>

<div class="row">
    <div class="col-md-2 bg-light border">
        <nav class="navbar navbar-light" style="padding: 50px">
            <a href="" class="navbar-brand"><b>
                <p>{{user.first_name}} {{user.last_name}}</p>
            </a></b>
        
            <ul class="navbar-nav" >
                <li class="nav-item">
                    <a href="{% url 'cust_dash' %}" class="nav-link">View Profile</a>
                </li>
                <!-- <li class="nav-item">
                    <a href="" class="nav-link">Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Change Password</a>
                </li> -->
                {% if user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'add_tour' %}" class="nav-link">Add Tour</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'my_tour' %}" class="nav-link">My Tours</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'add_img' %}" class="nav-link">Add Images</a>
                </li>
                 <li class="nav-item">
                    <a href="{% url 'allbookings' %}" class="nav-link">Bookings</a>
                </li>
                {% else %}
                 <li class="nav-item">
                    <a href="{% url 'mybooking' %}" class="nav-link">My bookings</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'user_logout' %}" class="nav-link">Logout</a>
                </li>
            </ul>

        </nav>
    </div>
<div class="col-md-10">
{% block dashboard %}
{% endblock%}
</div>
</div>
{% endblock %}