{% extends "myapp/base.html" %}

{% block head %}
<title>about us</title>

<style>
  #about {

    color: rgb(224, 221, 221);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(181, 224, 24);
  }
</style>


{% endblock %}
{% block content %}

<br>
<br>
<br>
<div class="container_2BkUK">
  <div class="container" style="background-color: rgb(7, 80, 49); width:100%;padding:1cm;margin-top:2cm">
  <header class="container_1vhpE">
    <div class="container"><a href="/" class="nuxt-link-active logo_1Zlqi" style="color: rgb(181, 224, 24);font-weight: 900; font-size:30px">LocateHeavens</a>
         <button type="button" class="btn btnHamburger_2i064"><span></span>
        <span></span> <span></span></button>
      <!---->
    </div>
  </header>
  <div class="container_1n8qm">
    <div class="container" style="color: white;padding-top:2cm">
      <h1 class="mb-1">About Us</h1>
      <p class="o60 mb-0" style="color: rgb(181, 224, 24);">
        Explore the heavens in India
      </p>
    </div>
  </div>
  </div>
  <div class="container font-size-sm py-6">
    <div class="md_1SizP" style="padding-bottom:2cm; font-size:20px; padding-top:2cm">
      <h2 style="color: rgb(7, 80, 49);">Vision</h2>
      <hr>
      <p style="opacity: 0.8;">LocateHeavens seeks to enhance the corporate management tools to improve the service while reducing your travel costs. 
        We manage almost every type of travel needs, from simplest to the complex, and create an unparalleled experience that our customers could rely on. 
        We aim to maintain our vision of high class travel services at reasonable prices through consistent leadership, controlled growth and excellent commitment.</p>
      <hr>
        <h2 style="color: rgb(7, 80, 49); padding-top:1cm" >Mission</h2>
        <hr>
      <p style="opacity: 0.8;">LocateHeavens seeks to manage the travel requirements of your company and add value to your travel spend. We tend to focus on the customers’
         requirements to come up with effective strategies for meeting their demands in an efficient manner.
         Our mission is to offer corporate travel solutions and become the biggest travel agency in the Gujrat.</p>
      <hr>
    </div>
  </div>
  
  <!---->
</div>
{% endblock %}